@import url("https://fonts.googleapis.com/css?family=Dosis|Heebo|Inter|Nunito|Roboto+Slab&display=swap");
* {
  font-family: "Inter";
  width: 97%;
  margin: auto;
}

body {
  margin-top: 2%;
}

section {
  margin: 2%;
}

.introduction h1 {
  font-size: 10vh;
  background-image: linear-gradient(to right, #021b79, #0575e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduction h2 {
  font-size: 24px;
}

.introduction h4 {
  font-size: 15px;
  line-height: 2rem;
}

.introduction h1,
.introduction h2,
.introduction h4 {
  margin-top: 2rem;
}

.card,
.cardp {
  width: 47%;
  border: 2px solid black;
  margin: 1%;
  word-wrap: break-word;
  border-radius: 4px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  height: 170px;
  text-align: left;
}

.card {
  height: 230px;
}

.card p {
  margin-top: 5%;
  font-size: 20px;
}

.card h1 {
  font-size: 30px;
  margin-top: 5%;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.divide {
  font-size: 22px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.cardp h3 {
  padding-top: 5%;
}

.cardp h3,
a,
p {
  padding-left: 2%;
  margin-top: 2%;
}
.cardp {
  transition: all 0.1s ease-in-out;
  width: 30%;
  text-align: center;
}
.cardp:hover {
  transform: scale(1.01, 1.01);
}

.fa {
  width: 15%;
}

button {
  width: 300px;
  padding: 20px;
  margin-top: 1%;
  outline: none;
  border: none;
  font-size: 20px;
}
@media (max-width: 830px) {
  .about {
    flex-direction: column;
  }
  .card,
  .cardp {
    width: 100%;
  }
  .projects {
    flex-direction: column;
  }
  section {
    margin-top: 10%;
  }
  button {
    width: 100%;
    margin-top: 3%;
  }
}
